
body {
	height: 4200px;

	margin: 0px;
	margin-top: -1px;
	padding: 0px;
}

header{
	width: 100%;
	height: 1000px;

	margin-top: -25px;
	margin-bottom: 0;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	
	background-image: url('../images/bg5.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
}

.wrapper1{
	width: 100%;
	height: 100%;
	text-align: center;

	padding-top: 15px;

	background-color: rgba(0, 0, 0, 0.4);
}

.header-menu {
	width: 100%;
	height: 50px;

	margin-top: 25px;
	margin-bottom: 10px;
}

.logo {
	width: 100px;
	height: 100%;
	display: block; 
	float: left;

	
	margin-top: -10px;

	color: white;
	font-family: 'Kaushan Script';
	font-weight: 900;
	font-size: 40px;
}


.buttons {
	width: 530px;
	height: 40px;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	padding-left: 0;


	float: right;
}

.buttons li {
	height: 23px;

	list-style-type: none;

	
	margin-left: 10px;
	padding-left: 10px;
}

.buttons li a{
	display: inline-block;

	text-align: right;
	text-decoration: none;
	color: white;

	font-family: Arial, sans-serif;
	font-weight: 900;
	font-size: 19px;


	padding-bottom: 5px;
	
	transition: color 0.5s;
}

.buttons li a:hover {
	border-bottom: 2px solid black;
	color: black;
}

.wrapper2 {
	width: 100%;
	text-align: center;
}

.title {
	width: 100%;
	height: 400px;

	margin-top: 240px;
	color: white;
}



.small__font{
	display: inline-block;
	margin-bottom: 15px;
	border-bottom: 2px solid white;

	font-family: 'Kaushan Script', cursive;
	font-size: 40px;
} 

.title > h1 {
	display: block;

	
	
	font-family: 'Kaushan Script';
	font-size: 60px;	
}



.MToggle {
	width: 100%;
	display: none;

	color: white;
	font-family: Arial, sans-serif;
	font-weight: 900;
	font-size: 19px;
	text-align: center;	
 	
	cursor: pointer;

	
}

.MToggle div {
	margin-left: 90px;
	border-radius: 0px;

	transition: background 1s;
}

.MToggle div:hover {
	background-color: rgba(71, 71, 71, 0.71);
}


#get__button {
	
	
	width: 200px;
	height: 50px;

	background-color: rgba(71, 71, 71, 0.71);	

	color: white;

	outline-style: none;
	border: 1px solid white;


	cursor: pointer;

}

#get__button:hover {
	background-color: rgba(255, 255, 255, 0.2);
}


/*_______section__about_______*/
.about {
	width: 100%;
	height: 680px;

	background-image: url('../images/aboutbr.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
}

.about nav {
	width: 100%;
	height: 680px;

	display: flex;
	flex-direction: row;
	justify-content: center;

	padding-top: 180px;

	background-color: rgba(71, 71, 71, 0.1);
}



.face {
	width: 340px;
	height: 340px;

	background-color: rgba(112,130,140, 0.30);
}

.face__content {

	width: 280px;
	height: 260px;

	background-image: url('../images/face.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;

	margin-top: 35px;
	margin-left: 30px;

	border-radius: 50%;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 600px;
	height: 340px;

	color: white;
	

	background-color: rgba(112,130,140, 0.30);
}

.info h2 {

	display: block;

	margin-top: 15px;

	font-family: 'Cormorant SC', serif;
	font-size: 20px !important;
	font-weight: 400;

	border-bottom: 1px solid white;
}

.info h2 span {
	font-size: 30px;
}

.info h2 p {
	display: block;
	margin-left: 100px;
}

.info__wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	width: 400px;
	height: 170px;
}

.names {
	font-family: 'Cormorant SC', serif;
	font-size: 20px !important;
	font-weight: 600;

}

.values {
	font-family: 'Cormorant SC', serif;
	font-size: 20px;
	font-weight: 2000;
}

.social__web {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	width: 100%;
	height: 40px;

	
}

.social__web a {
	display: block;

	width: 30px;
	height: 30px;

	margin-left: 40px;
}

/*____section__service___________*/

.service {
	width: 100%;
	height: 500px;

	background-color: rgb(168, 181, 186);
}

.service__title {
	display: block;

	width: 100%;
	height: 50px;

	padding-top: 15px;
	margin-bottom: 15px;

	text-align: center;
}

.service__title span{
	font-family: 'Cormorant SC', serif;
	font-size: 26px;
	font-weight: 600;

}

.service__blocks {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	width: 100%;
	height: 30%;

	padding-top: 15px;
}

.content-block {
	display: block;

	width: 46%;
	height: 90%;

	

	background-color: rgba(101,108,111, 0.6);

	
	border-radius: 0px 10px 0 0;
}



.service__main {
	display: block;

	width: 400px;

	font-family: 'Cormorant SC', serif;
	font-size: 24px;
	font-weight: 600;

	border: 1px dashed red;
}

.service__description {
	display: block;

	width: 400px;
	border: 1px dashed red;
}

.text {
	width: 100%;
	height: 100px;

	border: 1px solid black;
}

/*______section__works__________*/

.works {
	width :100%;
	height: 700px;

	background: url(../images/work2.jpg) 100% no-repeat fixed;
}

.works nav {
	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.4);
}

.works__title {
	width: 100%;
	height: 50px;

	padding-top: 15px;
	margin-bottom: 75px;

	text-align: center;
}

.works__title span {
	font-family: 'Cormorant SC', serif;
	font-size: 26px;
	font-weight: 600;
}

.works__content {
	width: 100%;
	height: 400px;

	padding: 0% 10%;

	margin-bottom: 15px;
}

.viewport {
	
    display: table;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.slide__area {

	display: inline-flex;
	flex-direction: row;
	
	transition: transform 2s;
	width: 900px;
	height: 400px;

	
}
.slide__block {
	width: 100%;
	height: 100%;
	margin-right: -10px;
	margin-left: -10px;
	text-align: center;


}

.slide__block ul {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-around;
}

.slide__block ul li {
	width: 200px;
	height: 400px;

	margin-right: 20px;

	background-color: rgba(0, 0, 0, 0.9);

	list-style: none;
}

.asdasd{
	width: 100%;



	display: flex;
	flex-direction: row;
	justify-content: center;
}

.slide__button {
	width: 200px;
	height: 30px;

	display: inline-block;


	color: white;

	background-color: rgba(0, 0, 0, 0.9);
}




/*_____section__reviews_____*/

.reviews {
	width: 100%;
	height: 550px;

	background-color: #eef;
}

.reviews__title {
	width :100%;
	
	padding-top: 15px;
	margin-bottom: 15px;

	text-align: center;
}

.reviews__title span {
	font-family: 'Cormorant SC', serif;
	font-size: 26px;
	font-weight: 600;
}

.reviews__content {
	width: 100%;
	height: 400px;

	text-align: center;

	border: 1px dashed green;
}

.reviews__slide__area {

	display: inline-flex;
	flex-direction: row;


	width: 80%;
	height: 400px;

	border: 1px dashed red;
}

.reviews__slide__block {
	display: none;

	width:100%;
	height: 100%;

	border: 1px dashed brown;
}

.reviews__slide__block img {
	display: inline-block;

}

.reviews__slide__block span {
	display: inline-block;

	width: 80%;
	height: 60%;

	margin-top: 50px;
}


.wrapper {
	width :100%;

	display: inline-block;

	text-align: center;
}
.none {
	display: none;
}

.active {
	display: block;
}

/*____section__contacts_______*/

.contacts {
	width: 100%;
	height: 730px;

	background-color: #cec
}

.contacts__title {
	width: 100%;
	height: 50px;

	padding-top: 15px;
	margin-bottom: 75px;

	text-align: center;
}

.contacts__title span {
	font-family: 'Cormorant SC', serif;
	font-size: 26px;
	font-weight: 600;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 300px;
	height: 400px;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

input {
	display: inline-block;

	width: 400px;
	height: 35px;

	color: white;

	margin-top: -10px;

	border: none;
	border-radius: 10px;
	outline-style: none;

	background-color: rgba(0, 0, 0, 0.9);
}

#inp__text {
	display: block;
	width: 400px;
	height: 200px;
	
	color: white;

	border: none;
	border-radius: 10px;
	outline-style: none;
	resize: none;

	background-color: rgba(0, 0, 0, 0.9);
}

.contacts__info {
	width: 350px;
	height: 400px;

	margin-top: 15px;

	background-color: rgba(0, 0, 0, 0.9);
}

.contacts__info ul {
	list-style: none;

	padding-left: 0;

}

.contacts__info ul li {
	width: 100%;

	margin-bottom: 15px;

	border: 1px dashed red;
}

.contacts__info ul li img {
	display: inline-block;
}

.contacts__info ul li a {
	display: inline-block;

	text-decoration: none;

	color: white;
}

.contacts__icons {
	width: 100%;
	height: 50px;

	margin-top: 40px;

	background-color: red;
}

/*______footer____________*/

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}

.footer__logo {
	color: white;
	font-family: 'Kaushan Script';
	font-weight: 900;
	font-size: 40px;

	background-color: black;
}
